<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>African food shop payment</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5">Payment Success </h1>
        <div class="d-flex justify-content-center">
            <p class="text-center mt-3">Your payment is successfully done &#128077 &#129297 , you can close this window. THANK YOU!</p>
        </div>
</div>
</body>
</html>